.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.grid-item {
  background-color: #fbbf24; /* bg-amber-400 */
  width: 8rem; /* w-32 */
  height: 8rem; /* h-32 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.grid-item.checked {
  background-color: #3b82f6; /* bg-blue-500 */
}

form label {
  font-weight: bold;
}

button {
  background-color: #3b82f6; /* bg-blue-500 */
  color: white;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #2563eb; /* bg-blue-600 */
}